.team-section{
    text-align: center;
    padding: 60px 0 100px;
    background-color: #F1FFF3;
    color: #305017;

    .team-cards-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 4%;
    }
}

@media only screen and (max-width: 900px){
    .team-section{
        .team-cards-container{
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media only screen and (max-width: 550px){
    .team-section{
        .team-cards-container{
            max-width: 250px;
            margin: 0 auto;
            grid-template-columns: auto;
            grid-gap: 30px;
        }
    }
}