@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
body {
  margin: 0 auto;
  max-width: 1500px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

*{
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  cursor: pointer;
}

.primary-button{
  background-color: #305017;
  padding: 15px 45px;
  height: 60px;
  width: 200px;
  border: none;
  color: #fff;
  font-size: 22px;
  border-radius: 25px;
  cursor: pointer;
}

@media only screen and (max-width: 768px){
  .primary-button{
      height: 56px;
      padding: 10px 40px;
  }
}